<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <h1 class="text header">  {{ title }}  </h1>
      <!-- filter -->
     <div class="row">
        <div class="col-md-12 mx-auto">
          <p class="text">Type something in the input field to search the table for id, name, description:</p> 

          <div class="md-form">
            <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
            <label for="search">Filter</label>
          </div>
        </div>
      </div>

     <!-- table -->
    <div class="table-responsive-md" >
      <table id="tableSortExample" mdbTable  #tableEl="mdbTable" class="z-depth-1"  bordered="true" hover="true">
      <thead class="cyan lighten-1 black-text">
        <tr>
          <!-- sortable table headers -->
            <th [mdbTableSort]="tableBody" sortBy="id">Id <mdb-icon fas icon="sort"></mdb-icon></th>
            <th [mdbTableSort]="tableBody" sortBy="name">Name <mdb-icon fas icon="sort"></mdb-icon></th>
            <th [mdbTableSort]="tableBody" sortBy="description">Description <mdb-icon fas icon="sort"></mdb-icon></th>
            <th [mdbTableSort]="tableBody" sortBy="date">Date <mdb-icon fas icon="sort"></mdb-icon></th>
              
        </tr>
     </thead>
     <tbody>
        <tr mdbTableCol *ngFor = "let el of tableBody; let i = index">
            <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.id}}</th>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.name}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.description}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.date | date}}</td>
         </tr>
      </tbody>
      <tfoot class="blue lighten-5 w-100">
          <tr>
            <td colspan="4">
              <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="tableBody"></mdb-table-pagination>
            </td>
          </tr>
          </tfoot>
    </table>
    
  </div>

</div>
<router-outlet></router-outlet>
